In [1]:
import example

In [2]:
example

In [3]:
dir(example)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'a_function']

In [4]:
example.a_function

In [5]:
example.a_function(10)

12

## The Math Library

In [6]:
import math

In [8]:
round(2.2)

2

In [9]:
round(2.7)

3

In [10]:
round(2.5)

2

In [12]:
math.floor(2.1)

2

In [13]:
math.floor(2.5)

2

In [14]:
math.floor(2.7)

2

In [15]:
math.floor(2.99999999999999)

2

In [17]:
math.ceil(2.1)

3

In [19]:
math.ceil(2.7)

3

In [21]:
math.ceil(2.9999999999)

3

In [34]:
math.floor(-2.5)

-3

In [22]:
math.exp(1.0)

2.718281828459045

In [23]:
math.exp(-1.0)

0.36787944117144233

In [24]:
math.exp(10.0)

22026.465794806718

In [25]:
math.log(math.exp(1.0))

1.0

In [26]:
math.exp(math.log(1.0))

1.0

In [27]:
math.exp(math.log(-1.0))

ValueError: math domain error

In [28]:
math.sqrt(-1.0)

ValueError: math domain error

In [29]:
math.pi

3.141592653589793

In [30]:
math.sin(2 * math.pi)

-2.4492935982947064e-16

In [32]:
math.floor(math.sin(2 * math.pi))

-1

In [36]:
abs(-3.141596)

3.141596

## The random library

In [37]:
import random

In [53]:
random.choice(['Matt', 'Jack', 'Miles'])

'Jack'

In [63]:
random.choices(['Matt', 'Jack', 'Miles'], weights=[1.0, 0.0, 0.0], k=5)

['Matt', 'Matt', 'Matt', 'Matt', 'Matt']

In [66]:
random.choice(range(1, 21))

20

In [70]:
random.randint(1, 20)

18

## Aside: List Comprehensions

In [77]:
L = []
for x in range(10):
    L.append(2 * x)
    
L

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [78]:
L = [2 * x for x in range(10)]

In [79]:
L

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [80]:
{2 * x for x in range(10)}

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18}

In [81]:
{x: 2*x for x in range(10)}

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [88]:
[random.randint(1, 20) for _ in range(10)]

[15, 1, 10, 18, 4, 4, 18, 5, 15, 4]

In [102]:
random.uniform(0.0, 1.0)

0.34566672415590083

## itertools

In [116]:
L1 = ['w', 'x', 'y', 'z']
L2 = ['a', 'b', 'c', 'd']

In [117]:
for x in zip(L1, L2):
    print(x)

('w', 'a')
('x', 'b')
('y', 'c')
('z', 'd')

In [118]:
for x, y in zip(L1, L2):
    print(x, y)

w a
x b
y c
z d

In [119]:
for x in enumerate(L2):
    print(x)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [120]:
for idx, x in enumerate(L2):
    print(idx, x)

0 a
1 b
2 c
3 d

In [121]:
for idx, x in enumerate(L2, start=57):
    print(idx, x)

57 a
58 b
59 c
60 d

In [122]:
for idx, (x, y) in enumerate(zip(L1, L2)):
    print(idx, (x, y))

0 ('w', 'a')
1 ('x', 'b')
2 ('y', 'c')
3 ('z', 'd')

In [123]:
L1 = ['x', 'y', 'z']
L2 = ['a', 'b', 'c', 'd']

In [124]:
for x, y in zip(L1, L2):
    print(x, y)

x a
y b
z c

## Example

In [127]:
data = {
    'name': ['Jeff', 'Jack', 'Miles', 'Caitlyn', 'Nick'],
    'loan_amt': [50, 100, 25, 30, 250],
    'interest_rate': [.1, 0.01, 0.02, 0.5, 0.0]
}

In [130]:
print("$$ That People Owe Matt At End Of Year")
print("-" * 50)

for name, amt, ir in zip(data['name'], 
                         data['loan_amt'], 
                         data['interest_rate']):
    print(name + " owes Matt " + str(amt*(1 + ir)))

$$ That People Owe Matt At End Of Year
--------------------------------------------------
Jeff owes Matt 55.00000000000001
Jack owes Matt 101.0
Miles owes Matt 25.5
Caitlyn owes Matt 45.0
Nick owes Matt 250.0

In [131]:
import itertools

In [132]:
L1 = ['w', 'x', 'y', 'z']
L2 = ['a', 'b', 'c', 'd']

In [133]:
for x, y in itertools.product(L1, L2):
    print(x, y)

w a
w b
w c
w d
x a
x b
x c
x d
y a
y b
y c
y d
z a
z b
z c
z d

## csv

In [134]:
!ls

README.md                __pycache__              example.py
Untitled.ipynb           calculator_assignment.md stuff.csv

In [135]:
!cat stuff.csv

a,b,c
1,2,3
3,2,1
1,1,1
2,2,2
3,3,3

In [136]:
import csv

In [143]:
open_file = open('stuff.csv')
csv_reader = csv.DictReader(open_file)

In [144]:
csv_reader.fieldnames

['a', 'b', 'c']

In [145]:
for line in csv_reader:
    print(line)

OrderedDict([('a', '1'), ('b', '2'), ('c', '3')])
OrderedDict([('a', '3'), ('b', '2'), ('c', '1')])
OrderedDict([('a', '1'), ('b', '1'), ('c', '1')])
OrderedDict([('a', '2'), ('b', '2'), ('c', '2')])
OrderedDict([('a', '3'), ('b', '3'), ('c', '3')])

In [146]:
import pandas

In [147]:
pandas.read_csv('stuff.csv')

   a  b  c
0  1  2  3
1  3  2  1
2  1  1  1
3  2  2  2
4  3  3  3

In [163]:
f = open('stuff.csv')

In [164]:
f

In [165]:
for line in f:
    print(line.strip())

a,b,c
1,2,3
3,2,1
1,1,1
2,2,2
3,3,3

In [166]:
f.seek(0)

0

In [167]:
for line in f:
    print(line.strip())

a,b,c
1,2,3
3,2,1
1,1,1
2,2,2
3,3,3